* {
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #eaeaea;
    background-image: url(img/wow.png);
    background-size: 500px;
    color: #333;
}

.container {
    background-color: #ffffff;
    width: 800px;
    margin: auto;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0px 42px;
    margin-top: 20px;
}

.header ul {
    text-align: center;
    margin-top: 50px;

}

.header ul li {
    display: inline-block;
    margin: 5px 42px;
}

.header a {
    text-decoration: none;
    color: purple;
    padding: 5px;
}

.header a:hover {
    border-bottom: 1px solid purple;
    transition: 0.3s;
    color: orangered;
}

.hero {
    height: 420px;
    background-image: url(img/prx1.jpg);
    background-size: cover;
    border-top: 5px solid purple;
    border-bottom: 5px solid orangered;
}

.content {
    padding: 20px;
}

.img {
    height: 400px;
    background-image: url(img/prx2.jpeg);
    background-size: cover;
    border: 5px solid purple;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}
.content .penulis a {
  color: orangered;
  text-decoration: none;
}

.content p {
    margin-bottom: 20px;
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
}

.footer {
    background-color: purple;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}