body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
}

.container {
    padding: 20px 50px 50px;
}

.header {
    background-color: #fff;
    padding: 0 0 30px 0;
    display: flex;             
    align-items: center;        
    justify-content: space-between; 
}


.header img {
    width: auto;
    height: 90px;
    filter: invert(100%);
}

.header ul {
    text-align: center;
}

.header li {
    display: inline-block;
    margin-right: 30px;
}

.header li a {
    position: relative; 
    color: black;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 4px;
}

.header li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 0%; 
    height: 2px;
    background-color: #d4a373;
    transition: width 0.4s ease;
}

.header li a:hover::after {
    width: 100%;
}

.hero {
    height: 600px;
    background-image: url(../img/hero.jpeg);
    background-repeat: no-repeat; 
    background-size: cover;      
    border-radius: 30px;
}

.content {
    margin-top: 50px;
    padding: 10px 45px 45px;
}

.content h1 {
    font-weight: bolder;
    font-size: 30px;
    color: #d4a373;
    margin-bottom: 7px;
    margin-left: 8px;
}

.content p {
    font-weight: 500;
    margin-bottom: 50px;
    margin-left: 9px;
}

.gallery {
    margin-top: -20px;
    margin-bottom: 10px; 
}

.gallery li {
    width: 530px;
    height: 200px;
    border-radius: 15px; 
    border: 5px solid #d4a373;
    overflow: hidden; 
    float: left; 
    margin-right: 31px;
    position: relative;
    text-align: center;
}

.gallery li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery li span {
    display: block;
    width: 530px;
    height: 200px;
    background-color: rgba(200, 200, 200, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: 0.3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.gallery::after {
    content: "";
    display: block;
    clear: both;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay:target {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    padding: 50px;
}

.overlay img {
    height: 800px;
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.overlay:target img {
    animation: zoomDanFade 1s;
}

.overlay .close {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 13px;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade 0.5s 0.5s forwards;
}

.footer {
    background-color: #d4a373;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 15px;
}

@keyframes fadeAjah {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}